@model BeautyCenterCore.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaNac)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
