@model BeautyCenterCore.Models.Citas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Citas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantPersonas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantPersonas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CitaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
