@model IEnumerable<BeautyCenterCore.Models.Citas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantPersonas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CitaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CitaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CitaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
